<ul>
 <% if session[:user] == nil %>
<li><a href="/">Home</a></li>
<li><a href="/signup">Sign up</a></li>
<li style="float:right"><a class="active" href="/login">Log in</a></li>
  <% elsif session[:user] != nil %>
<li>Logged in as: <a href="/account"><%= session[:user].email %></a></li>
<li style="float:right"><a class="active" href="/">Log out</a></li>
<% end %>
</ul>

<form id="timelinebtn" action="/timeline" method="get">
  <input type="submit" value="Timeline">
</form>

<div>
    <container>
      <div class="tl_grid">
          <div>
            <% user_name = params['username'] %>
            <% user = User.find_by(username: user_name) %>
            <% user_post = Post.where(username: user_name) %>
            <% user_post.each do |post| %>
            <div class="cells">
            <h1><%= post.username %> </h1>
            <%= post.title %><br>
            <img src="<%= post.image_url %>" style="height:70%; width:100%;"><br>
            <%= post.content %><br><br>
            </div>
            <% end %>
          </div>
      </div>
    </container>
</div>
